<!doctype html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Project #27</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
              integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
              integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
              crossorigin="anonymous">
        
    <link rel="stylesheet" href="../unc.css">

    </head>

    <body>

        
            

            

    <header class="p-lg-5">
        <div class="row media">
            <div class="media-body">
                <h1 class="display-4 ml-5">
                    <a href="../index.html">UNC CS 350</a>
                </h1>
                <h2 class="display-6 ml-5">Software Engineering Skills</h2>
            </div>
            <img class="m-3 rounded-circle image-fluid" src="../images/Bear.png" alt="Logo" width="150">
        </div>
    </header>



            

    <main>
        <div class="container">
            
                <h1 id="lesson-27---code">Lesson 27 - Code</h1>
<h2 id="project">PROJECT</h2>
<h3 id="lectures-are-integrated">Lectures are Integrated</h3>
<ul>
<li>Lessons now contain links to notes, slides, zoom recordings</li>
<li>Watch lectures that you have missed</li>
</ul>
<h3 id="graded-milestone-4">Graded Milestone 4</h3>
<ul>
<li>Finished initial grading of milestone</li>
<li>Concentrate on the process more that the code</li>
<li>Invest 9 hours per week</li>
</ul>
<h3 id="milestone-5-objectives">Milestone 5 Objectives</h3>
<ul>
<li>Requirements Role - Project progress</li>
<li>Design Role - Refactoring and code structure</li>
<li>Code Role - Finish writing code</li>
<li>Test Role - Acceptance testing</li>
</ul>
<h3 id="code-role---finish-all-code">Code Role - Finish all code</h3>
<ul>
<li>Implement all features</li>
<li>Test-driven workflow</li>
<li>Implementation Cycle - Test, Fix, Extend, Improve</li>
<li>Log and track all issues</li>
</ul>
<h2 id="learn">LEARN</h2>
<h3 id="productivity">Productivity</h3>
<ul>
<li>Your productivity is a direct result of process</li>
<li>Double your productivity</li>
<li>Focus on rapid iteration with tests</li>
<li>Leave behind code and documentation</li>
</ul>
<h3 id="integrated-development-environment-ide">Integrated Development Environment (IDE)</h3>
<ul>
<li>Learn the basics first</li>
<li>Then get a powerful tool</li>
<li>Apply magic to fly</li>
<li>Visual Studio, Jet Brains</li>
</ul>
<h3 id="pycharm">Pycharm</h3>
<ul>
<li>Best-in-class tool for Python</li>
<li><a href="https://www.jetbrains.com/pycharm-edu/">Pycharm Edu</a></li>
<li>Steep learning curve</li>
<li>Decide if you want to try it out</li>
</ul>
<h3 id="book-builder-development-log">Book Builder Development Log</h3>
<ul>
<li><a href="https://github.com/Mark-Seaman/Book-Builder/blob/master/docs/DevelopmentLog.md">Development Log</a></li>
<li>Work incrementally</li>
<li>Product Backlog - Sprint Backlog</li>
<li>Start with goals</li>
<li>Leave behind code and documentation</li>
</ul>
<h3 id="goals">Goals</h3>
<p>User Stories on the Book Builder project.</p>
<ul>
<li>Demonstrate development log</li>
<li>Rebuild Virtual Env (Installed Python 3.8.6)</li>
<li>Add user administration</li>
<li>Update Data Models (Author, Book, Chapter)</li>
<li>Rename bookbuilder/ to config/</li>
</ul>
<h3 id="rebuild-virtual-env">Rebuild Virtual Env</h3>
<p>Create new env</p>
<pre><code>python3 -m venv .venv

source $code/.venv/bin/activate

pip install --upgrade pip

pip install django pillow markdown django-crispy-forms requests

pip freeze

    asgiref==3.2.10
    certifi==2020.6.20
    chardet==3.0.4
    Django==3.1.2
    django-crispy-forms==1.9.2
    idna==2.10
    Markdown==3.3.2
    Pillow==8.0.1
    pytz==2020.1
    requests==2.24.0
    sqlparse==0.4.1
    urllib3==1.25.11
    
dj test

    Creating test database for alias &#39;default&#39;...
    System check identified no issues (0 silenced).
    ................
    ----------------------------------------------------------------------
    Ran 16 tests in 1.917s
    
    OK

dj runserver

    Watching for file changes with StatReloader
    Performing system checks...
    
    System check identified no issues (0 silenced).
    October 25, 2020 - 19:57:21
    Django version 3.1.2, using settings &#39;bookbuilder.settings&#39;
    Starting development server at http://127.0.0.1:8000/
    Quit the server with CONTROL-C.</code></pre>
<h3 id="add-user-administration">Add user administration</h3>
<p>Tasks to complete</p>
<ul>
<li>Use the accounts app developed in BACS 350 - Demo 26</li>
<li>Hook up to Book Builder</li>
<li>Require login for Edit, Add, Delete</li>
<li>Test with Book Editing</li>
</ul>
<p>Use the accounts app developed in <a href="https://github.com/Mark-Seaman/UNC-BACS-350/tree/master/demo/week09/Demo26">BACS 350 - Demo 26</a></p>
<pre><code>dj startapp accounts

cp /Users/seaman/Github/UNC-BACS-350/demo/week10/Demo29/accounts/* accounts

cp /Users/seaman/Github/UNC-BACS-350/demo/week10/Demo29/templates/registration/* templates/registration</code></pre>
<p><a href="https://github.com/Mark-Seaman/Book-Builder/blob/master/bookbuilder/bookbuilder/settings.py">bookbuilder/settings.py</a></p>
<pre><code>INSTALLED_APPS = [ ... &#39;accounts&#39; ]
STATICFILES_DIRS = [str(BASE_DIR.joinpath(&#39;static&#39;))]

LOGIN_REDIRECT_URL = &#39;&#39;
LOGOUT_REDIRECT_URL = &#39;&#39; </code></pre>
<p><a href="https://github.com/Mark-Seaman/Book-Builder/blob/master/bookbuilder/book/views.py">book/views.py</a></p>
<pre><code>from django.contrib.auth.mixins import LoginRequiredMixin

class BookAdd(LoginRequiredMixin, CreateView):

class BookEdit(LoginRequiredMixin, UpdateView):</code></pre>
<p>dj runserver -- test the add and edit book</p>
<p>fix base page &quot;book_theme.html&quot;</p>
<h3 id="show-login-info">Show login info</h3>
<p>Create User Info Template</p>
<p><a href="https://github.com/Mark-Seaman/Book-Builder/blob/master/bookbuilder/templates/_user.html">templates/_user.html</a></p>
<pre><code>{% block user %}
    {% if user.is_authenticated %}
        &lt;li class=&quot;nav-item active&quot;&gt;
            &lt;span class=&quot;nav-link p-2 m-2&quot;&gt;Welcome {{ user.username }}&lt;/span&gt;
        &lt;/li&gt;
        &lt;li class=&quot;nav-item&quot;&gt;
            &lt;a href=&quot;{% url &#39;logout&#39; %}&quot; class=&quot; nav-link text-light p-2 m-2&quot;&gt;
                &lt;i class=&quot;fas fa-sign-out-alt&quot;&gt;&lt;/i&gt; Log out
            &lt;/a&gt;
        &lt;/li&gt;
    {% else %}
        &lt;li class=&quot;nav-item&quot;&gt;
            &lt;span class=&quot;nav-link p-2 m-2&quot;&gt;You are not logged in.&lt;/span&gt;
        &lt;/li&gt;

        &lt;li class=&quot;nav-item active&quot;&gt;
            &lt;a href=&quot;{% url &#39;login&#39; %}&quot; class=&quot;nav-link text-light p-2 m-2&quot;&gt;
                &lt;i class=&quot;fas fa-sign-in-alt&quot;&gt;&lt;/i&gt; Log In
            &lt;/a&gt;
        &lt;/li&gt;
    {% endif %}
{% endblock user %}</code></pre>
<p><a href="https://github.com/Mark-Seaman/Book-Builder/blob/master/bookbuilder/templates/_navbar.html">templates/_navbar.html</a></p>
<pre><code>{% block navbar %}

    &lt;nav class=&quot;navbar navbar-expand-sm navbar-light&quot;&gt;
        &lt;div class=&quot;container&quot;&gt;
            &lt;div class=&quot;collapse&quot;&gt;
                &lt;a href=&quot;{% url &#39;home&#39; %}&quot; class=&quot;navbar-brand&quot;&gt;Book Builder App&lt;/a&gt;
                &lt;ul class=&quot;navbar-nav ml-auto&quot;&gt;
                    {% include &#39;_user.html&#39; %}
                &lt;/ul&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/nav&gt;
    
{% endblock navbar %}</code></pre>
<p><a href="https://github.com/Mark-Seaman/Book-Builder/blob/master/bookbuilder/templates/book_theme.html">templates/book_theme.html</a></p>
<pre><code>{% block content %}

    {% block header %}
    {% endblock header %}

    {% include &#39;_navbar.html&#39; %}

    &lt;main&gt;
        &lt;div class=&quot;container py-5&quot;&gt;

            {% block main %}
                &lt;h2&gt;NO MAIN DEFINED&lt;/h2&gt;
            {% endblock main %}

        &lt;/div&gt;
    &lt;/main&gt;

{% endblock content %}</code></pre>
<h3 id="update-data-models-author-book-chapter">Update Data Models (Author, Book, Chapter)</h3>
<ul>
<li>Setup Book Description</li>
<li>Don't edit the Author</li>
<li>Don't edit the book when editing chapter</li>
</ul>

            
        </div>
    </main>



            
                
    <footer class="text-center m-5">
        &copy;2020 <a href="https://shrinking-world.com">Shrinking World</a>
        - Practical Software Engineering

















    </footer>

            

        

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
                integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
                integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
                crossorigin="anonymous"></script>

    </body>
</html>