{% extends 'theme.html' %}


{% block main %}

    <main class="text-dark">
        <div class="container py-5">

            <h1 class='text-light'>Workshop</h1>
            <ul>
                <li><a href="card">Card View</a></li>
                <li><a href="cards">Cards View</a></li>
                <li><a href="doc/README.md">Document View</a></li>
                <li><a href="doc/Test.md">Test View</a></li>
                <li><a href="table">Table View</a></li>
            </ul>
        </div>
    </main>

{% endblock main %}
