<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>UNC Course Slides</title>

        <link rel="stylesheet" href="https://shrinking-world.com/static/revealjs/dist/reset.css">
        <link rel="stylesheet" href="https://shrinking-world.com/static/revealjs/dist/reveal.css">
        <link rel="stylesheet" href="https://shrinking-world.com/static/revealjs/dist/theme/beige.css" id="theme">

        <!-- Theme used for syntax highlighted code -->
        <link rel="stylesheet" href="https://shrinking-world.com/static/revealjs/plugin/highlight/monokai.css" id="highlight-theme">
        <link rel="stylesheet" href="slides.css">
    </head>

    <body>

        <div class="reveal">
            <div class="slides">

                <section class="section"
                         data-background-image="../images/autumn-leaves.jpg">
                    <h1>bacs350 - Lesson 11</h1>
                    <p><img class="logo" src="../images/Bear.png" alt="../images/Bear.png"></p>
                    <p class="title">Mark Seaman</p>
                    <p class="title">University of Northern Colorado</p>
                </section>

                
                    <section>
    <section class="section" data-background-image="../images/treetops.800.jpg">
        <h2>LEARN</h2>
    </section>


    
        
            <section data-background-image="../images/paper.png" data-markdown data-separator="\n### ">

                <textarea data-template>### View Inheritance
* Define a base template 
* Add "{% block content %}"
* Extend base template for other pages



                </textarea>

            </section>
        
            <section data-background-image="../images/paper.png" data-markdown data-separator="\n### ">

                <textarea data-template>### templates/base.html

    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>BACS 350 Page</title>
            <link rel="stylesheet" href="styles.css">
        </head>        
        <body>
            {% block content %}
            {% endblock content %}
        </body>
    </html>



                </textarea>

            </section>
        
            <section data-background-image="../images/paper.png" data-markdown data-separator="\n### ">

                <textarea data-template>### templates/about.html

    {% extends 'base.html' %}
    
    {% block content %}
        <h2>About Us</h2>
        <p>This is all about us!</p>
    {% endblock content %}



                </textarea>

            </section>
        
            <section data-background-image="../images/paper.png" data-markdown data-separator="\n### ">

                <textarea data-template>### Block Nesting - base.html

```
{% block content %}

    {% block header %}
    {% endblock header %}

    {% block main %}
    {% endblock main %}

    {% block footer %}
    {% endblock footer %}

{% endblock content %}
```



                </textarea>

            </section>
        
            <section data-background-image="../images/paper.png" data-markdown data-separator="\n### ">

                <textarea data-template>### Block Nesting - page.html

```
    {% extends 'base.html' %}

    {% block main %}
    {% endblock main %}
```




                </textarea>

            </section>
        
            <section data-background-image="../images/paper.png" data-markdown data-separator="\n### ">

                <textarea data-template>### Includes
* Include another HTML file in a template
* Makes templates easy to read
* Partial templates should start with "_" 

```
    {% include '_head.html' %}
    {% include '_main_menu.html' %}
    {% include '_side_menu.html' %}
    {% include '_main.html' %}
    {% include '_footer.html' %}
```


                </textarea>

            </section>
        

    


</section>
<section>
    <section class="section" data-background-image="../images/treetops.800.jpg">
        <h2>BUILD</h2>
    </section>


    
        
            <section data-background-image="../images/paper.png" data-markdown data-separator="\n### ">

                <textarea data-template>### Project 4 - Superhero News
* Build a web app at Python Anywhere
* Index gives a list of heroes
* Links display details of each hero
* Each page has a photo



                </textarea>

            </section>
        
            <section data-background-image="../images/paper.png" data-markdown data-separator="\n### ">

                <textarea data-template>### Skills
* Define and load HTML templates
* Pass data to a view
* Pass arguments from URL
* View inheritance
* Use of CSS



                </textarea>

            </section>
        
            <section data-background-image="../images/paper.png" data-markdown data-separator="\n### ">

                <textarea data-template>### Superhero Views
* startproject Superhero
* startapp hero
* setttings
    * templates (templates)
    * static server (static)
    * installed apps (hero)
    * root URLs (hero.urls)
    * migrate database models
    


                </textarea>

            </section>
        
            <section data-background-image="../images/paper.png" data-markdown data-separator="\n### ">

                <textarea data-template>### Add Views
* Index view template (index.html)
* Hero view template (hero.html)
* Views (Index View, Hero View)
* URL routes ('', 'hero/<str:hero>')



                </textarea>

            </section>
        
            <section data-background-image="../images/paper.png" data-markdown data-separator="\n### ">

                <textarea data-template>### Test Index View
Use Django Tests to get index view

    from django.test import SimpleTestCase

    class ViewTests(SimpleTestCase):

        def test_index_view(self):
            response = self.client.get('/')
            self.assertEqual(response.status_code, 200)



                </textarea>

            </section>
        
            <section data-background-image="../images/paper.png" data-markdown data-separator="\n### ">

                <textarea data-template>### Test Hero Views
Use Django Tests to get index view

    from django.test import SimpleTestCase

    class ViewTests(SimpleTestCase):

        def test_hero_view(self):
            response = self.client.get('hero/hulk')
            self.assertEqual(response.status_code, 200)
            response = self.client.get('hero/widow')
            self.assertEqual(response.status_code, 200)


                </textarea>

            </section>
        

    


</section>
                

            </div>
        </div>

        <script src="https://shrinking-world.com/static/revealjs/dist/reveal.js"></script>
        <script src="https://shrinking-world.com/static/revealjs/plugin/notes/notes.js"></script>
        <script src="https://shrinking-world.com/static/revealjs/plugin/markdown/markdown.js"></script>
        <script src="https://shrinking-world.com/static/revealjs/plugin/highlight/highlight.js"></script>
        <script>
            // More info about initialization & config:
            // - https://revealjs.com/initialization/
            // - https://revealjs.com/config/
            Reveal.initialize({
                hash: true,

                // Learn about plugins: https://revealjs.com/plugins/
                plugins: [RevealMarkdown, RevealHighlight, RevealNotes]
            });

        </script>
    </body>

</html>
