<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>UNC Course Slides</title>

        <link rel="stylesheet" href="https://shrinking-world.com/static/revealjs/dist/reset.css">
        <link rel="stylesheet" href="https://shrinking-world.com/static/revealjs/dist/reveal.css">
        <link rel="stylesheet" href="https://shrinking-world.com/static/revealjs/dist/theme/beige.css" id="theme">

        <!-- Theme used for syntax highlighted code -->
        <link rel="stylesheet" href="https://shrinking-world.com/static/revealjs/plugin/highlight/monokai.css" id="highlight-theme">
        <link rel="stylesheet" href="slides.css">
    </head>

    <body>

        <div class="reveal">
            <div class="slides">

                <section class="section"
                         data-background-image="../images/autumn-leaves.jpg">
                    <h1>bacs350 - Lesson 20</h1>
                    <p><img class="logo" src="../images/Bear.png" alt="../images/Bear.png"></p>
                    <p class="title">Mark Seaman</p>
                    <p class="title">University of Northern Colorado</p>
                </section>

                
                    <section>
    <section class="section" data-background-image="../images/treetops.800.jpg">
        <h2>LEARN</h2>
    </section>


    
        
            <section data-background-image="../images/paper.png" data-markdown data-separator="\n### ">

                <textarea data-template>### Project 7 - Superhero Data Views
* Deadline Extended to Oct 16
* View Inheritance
* Django Generic Views
    * ListView
    * DetailView
    * CreateView
    * UpdateView
    * DeleteView



                </textarea>

            </section>
        
            <section data-background-image="../images/paper.png" data-markdown data-separator="\n### ">

                <textarea data-template>### Complete Your Projects
* Project 1 - Setup development tools
* Project 2 - Build a simple app
* Project 3 - Application Hosting
* Project 4 - TemplateView
* Project 5 - Data Models
* Project 6 - Custom Template View
* Project 7 - Data Model Views



                </textarea>

            </section>
        
            <section data-background-image="../images/paper.png" data-markdown data-separator="\n### ">

                <textarea data-template>### Working the Project in Class
* Live demo of solving the problems
* You must apply this knowledge
* You must invest 9 hours weekly



                </textarea>

            </section>
        
            <section data-background-image="../images/paper.png" data-markdown data-separator="\n### ">

                <textarea data-template>### Live Demo
* Create a project
* Add an app
* Define Templates
* Define Views
* Define Routes



                </textarea>

            </section>
        
            <section data-background-image="../images/paper.png" data-markdown data-separator="\n### ">

                <textarea data-template>### Django View Classes
* TemplateView
* ListView
* DetailView
* CreateView
* UpdateView
* DeleteView



                </textarea>

            </section>
        
            <section data-background-image="../images/paper.png" data-markdown data-separator="\n### ">

                <textarea data-template>### Define Python class
Superhero (name, identity, image)

hero/models.py

    class Superhero(models.Model):
        name = models.CharField(max_length=20)
        identity = models.CharField(max_length=20)
        image = models.CharField(max_length=20)
        
        def __str__(self):
            return self.name
            
        def get_absolute_url(self): 
            return reverse('home', args=[str(self.id)])



                </textarea>

            </section>
        
            <section data-background-image="../images/paper.png" data-markdown data-separator="\n### ">

                <textarea data-template>### TemplateView

templates/hero_detail.html

    <h1>{{ title }}</h1>
    <p>
        Hero Name: {{ hero.name }}
    </p>
    <p>
        Secret Identify: {{ hero.identity }}
    </p>
    <p>
        SHIELD Number: {{ hero.pk }}
    </p>
    
    
hero/views.py
    
    from django.views.generic import TemplateView

    class HeroView(TemplateView):
        template_name = "hero_detail.html"

        def get_context_data(self, **kwargs):
            heroes = Superhero.objects.get(pk=1)
            return {'hero': hero}

hero/urls.py

    from django.urls import path
    from .views import HeroView

    urlpatterns = [
        path('', HeroView.as_view(), name='home'),
        path('<str:identity>', HeroView.as_view(), name='hero_detail'),
    ]

 

                </textarea>

            </section>
        
            <section data-background-image="../images/paper.png" data-markdown data-separator="\n### ">

                <textarea data-template>### ListView
* Create a table or divs that show a list of records
* Each hero should have a link that goes to the details page

templates/hero_list.html

    {% extends 'page_theme.html' %}


    {% block main %}

        <h1>Heroes Gallery</h1>

        {% for hero in heroes %}

            <h2>Hero - {{ hero.name }}</h2>
            <p>
                This page shows my favorite hero.
            </p>
            <p>
                Secret ID: {{ hero.identity }}
            </p>
            <img width="300" src="/static/images/{{ hero.name }}.jpg" alt="{{ hero.identity }}">

        {% endfor %}

    {% endblock main %}

    
hero/views.py
    
    from django.views.generic import ListView
    from .models import Superhero

    class HeroListView(ListView):
        template_name = "hero_list.html"
        model = Superhero


hero/urls.py

    from django.urls import path
    from hero.views import HeroView

    urlpatterns = [
        path('', HeroListView.as_view(), name='hero_list'),        
    ]



                </textarea>

            </section>
        
            <section data-background-image="../images/paper.png" data-markdown data-separator="\n### ">

                <textarea data-template>### DetailView
* Display all info from the Database record
* Show the image as a thumbnail with a link to the large image
* Add a button to Edit the record

templates/hero_detail.html

    <a href="/">Hero List</a>
    <h1>{{ title }}</h1>
    <p>
        Hero Name: {{ hero.name }}
    </p>
    <p>
        Secret Identify: {{ hero.identity }}
    </p>
    <p>
        SHIELD Number: {{ hero.pk }}
    </p>
    
    
hero/views.py
    
    from django.views.generic import DetailView

    class HeroView(DetailView):
        template_name = "hero_detail.html"
        model = Superhero
        

hero/urls.py

    from django.urls import path
    from .views import HeroDetailView

    urlpatterns = [
        path('<int:pk>', HeroDetailView.as_view(), name='hero_detail'),        
    ]



                </textarea>

            </section>
        
            <section data-background-image="../images/paper.png" data-markdown data-separator="\n### ">

                <textarea data-template>### CreateView
* Create new records with a view
* You can cheat by loading the image file into a directory
* Add the image as a URL pointing to this file

templates/hero_add.html

    {% extends 'page_theme.html' %}

    {% block content %}

        <h1>New Hero</h1>

        <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save">
        </form>

    {% endblock content %}
  
    
hero/views.py

    from django.views.generic.edit import CreateView
    from .models import Superhero
    
    class HeroAddView(CreateView):
        template_name = "hero_add.html"
        model = Superhero
        fields = '__all__'


hero/urls.py

    from django.urls import path
    from .views import HeroAddView

    urlpatterns = [
        path('<int:pk>', HeroAddView.as_view(), name='hero_add'),        
    ]




                </textarea>

            </section>
        
            <section data-background-image="../images/paper.png" data-markdown data-separator="\n### ">

                <textarea data-template>### UpdateView
* Make sure that you can edit the records
* Make sure that the page is redirected after save


templates/hero_edit.html

    {% extends 'page_theme.html' %}

    {% block content %}

        <h1>Edit Hero</h1>

        <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save">
        </form>

    {% endblock content %}
  
    
hero/views.py

    from django.views.generic.edit import CreateView
    from .models import Superhero
    
    class HeroEditView(CreateView):
        template_name = "hero_edit.html"
        model = Superhero
        fields = '__all__'


hero/urls.py

    from django.urls import path
    from .views import HeroAddView, HeroEditView

    urlpatterns = [
        path('<int:pk>',  HeroAddView.as_view(),    name='hero_add'),        
        path('<int:pk>/', HeroUpdateView.as_view(), name='hero_edit'),
    ]



                </textarea>

            </section>
        
            <section data-background-image="../images/paper.png" data-markdown data-separator="\n### ">

                <textarea data-template>### DeleteView
* Delete the records after confirmation
* Go to the list after a delete

templates/hero_delete.html

    {% extends 'page_theme.html' %}

    {% block content %}

        <h1>Delete Hero?</h1>

        <form action="" method="post">{% csrf_token %}
            <p>Are you sure you want to delete "{{ hero.name }}"?</p>
            <input type="submit" value="Confirm">
        </form>

    {% endblock content %}

    
hero/views.py

    from django.urls import reverse_lazy 
    from django.views.generic.edit import DeleteView
    from .models import Superhero
    
    class HeroDeleteView(DeleteView):
        template_name = "hero_delete.html"
        model = Superhero
        success_url = reverse_lazy('hero_list')
        

hero/urls.py

    from django.urls import path
    from .views import HeroAddView, HeroDetailView, HeroEditView, HeroListView, HeroUpdateView

    urlpatterns = [
        path('',          HeroListView.as_view(),   name='hero_list'),
        path('add',       HeroAddView.as_view(),    name='hero_add'),        
        path('<int:pk>',  HeroDetailView.as_view(), name='hero_detail'),
        path('<int:pk>/', HeroUpdateView.as_view(), name='hero_edit'),
        path('<int:pk>/delete', HeroDeleteView.as_view(), name='hero_delete'),
    ]

                </textarea>

            </section>
        

    


</section>
                

            </div>
        </div>

        <script src="https://shrinking-world.com/static/revealjs/dist/reveal.js"></script>
        <script src="https://shrinking-world.com/static/revealjs/plugin/notes/notes.js"></script>
        <script src="https://shrinking-world.com/static/revealjs/plugin/markdown/markdown.js"></script>
        <script src="https://shrinking-world.com/static/revealjs/plugin/highlight/highlight.js"></script>
        <script>
            // More info about initialization & config:
            // - https://revealjs.com/initialization/
            // - https://revealjs.com/config/
            Reveal.initialize({
                hash: true,

                // Learn about plugins: https://revealjs.com/plugins/
                plugins: [RevealMarkdown, RevealHighlight, RevealNotes]
            });

        </script>
    </body>

</html>
