<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>UNC Course Slides</title>

        <link rel="stylesheet" href="https://shrinking-world.com/static/revealjs/dist/reset.css">
        <link rel="stylesheet" href="https://shrinking-world.com/static/revealjs/dist/reveal.css">
        <link rel="stylesheet" href="https://shrinking-world.com/static/revealjs/dist/theme/beige.css" id="theme">

        <!-- Theme used for syntax highlighted code -->
        <link rel="stylesheet" href="https://shrinking-world.com/static/revealjs/plugin/highlight/monokai.css" id="highlight-theme">
        <link rel="stylesheet" href="slides.css">
    </head>

    <body>

        <div class="reveal">
            <div class="slides">

                <section class="section"
                         data-background-image="../images/autumn-leaves.jpg">
                    <h1>bacs350 - Lesson 31</h1>
                    <p><img class="logo" src="../images/Bear.png" alt="../images/Bear.png"></p>
                    <p class="title">Mark Seaman</p>
                    <p class="title">University of Northern Colorado</p>
                </section>

                
                    <section>
    <section class="section" data-background-image="../images/treetops.800.jpg">
        <h2>LEARN & BUILD    </h2>
    </section>


    
        
            <section data-background-image="../images/paper.png" data-markdown data-separator="\n### ">

                <textarea data-template>### Workshop Views
* Theme View
* Workshop View
* Home View
* Card View
* Cards View
* Document View



                </textarea>

            </section>
        
            <section data-background-image="../images/paper.png" data-markdown data-separator="\n### ">

                <textarea data-template>### Document View
* Use Markdown Converter to produce HTML
* Display Markdown Document
* Display File and Database records
* [views.py](https://github.com/Mark-Seaman/UNC-BACS-350/tree/master/demo/week11/Demo30/workshop/views.py)
* [workshop.py](https://github.com/Mark-Seaman/UNC-BACS-350/tree/master/demo/week11/Demo30/workshop/workshop.py)
* [templates/markdown.html](https://github.com/Mark-Seaman/UNC-BACS-350/tree/master/demo/week11/Demo30/templates/markdown.html)



                </textarea>

            </section>
        
            <section data-background-image="../images/paper.png" data-markdown data-separator="\n### ">

                <textarea data-template>### Partial Templates
* _navbar.html
* _user.html
* _header.html
* _footer.html
* _card.html
* _cards.html
* _doc.html



                </textarea>

            </section>
        
            <section data-background-image="../images/paper.png" data-markdown data-separator="\n### ">

                <textarea data-template>### Tables
* Handle spreadsheet data or database records
* Rows and columns
* Save tabular data as CSV file

    bacs350,27,2020-10-26,10,Base Template
    bacs350,28,2020-10-28,10,Template Includes
    bacs350,29,2020-10-30,10,Card Views
    bacs350,30,2020-11-02,11,Markdown View
    bacs350,31,2020-11-04,11,Table View



                </textarea>

            </section>
        
            <section data-background-image="../images/paper.png" data-markdown data-separator="\n### ">

                <textarea data-template>### Python CSV Reader
* Read a CSV file
* Print each row

```python
from csv import reader

with open('lessons.csv') as f:
    for row in reader(f):
        print(row)
```



                </textarea>

            </section>
        
            <section data-background-image="../images/paper.png" data-markdown data-separator="\n### ">

                <textarea data-template>### Python CSV Writer
* Take in a table (rows, columns)
* Write a CSV file

```python
import csv
with open('lessons.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerows(table)

```



                </textarea>

            </section>
        
            <section data-background-image="../images/paper.png" data-markdown data-separator="\n### ">

                <textarea data-template>### Read from String
* Read a CSV file
* Print each row

```python
from csv import reader

csv_string = '''bacs350,27,2020-10-26,10,Base Template
bacs350,28,2020-10-28,10,Template Includes
bacs350,29,2020-10-30,10,Card Views
bacs350,30,2020-11-02,11,Markdown View
bacs350,31,2020-11-04,11,Table View
'''

rows = csv_string.split('\n')

for row in reader(rows):
    print(row)
```



                </textarea>

            </section>
        
            <section data-background-image="../images/paper.png" data-markdown data-separator="\n### ">

                <textarea data-template>### View Logic
* Read the CSV file
* Pass the table to the template

```python
class TableView(TemplateView):
    
    def get_context_data(self, **kwargs):
        return dict(table=read_lesson_table('lessons.csv'))
    
def read_lesson_table(path):
    return reader(open(path))
```



                </textarea>

            </section>
        
            <section data-background-image="../images/paper.png" data-markdown data-separator="\n### ">

                <textarea data-template>### Table Template
* Create templates to display the data
* Iterate over rows and columns

```html
<table>
    {% for row in table %}
        <tr>
            {% for column in row %}
                <td>
                    {{ column }}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
```



                </textarea>

            </section>
        
            <section data-background-image="../images/paper.png" data-markdown data-separator="\n### ">

                <textarea data-template>### Consolidate Document Files
* Create Documents directory
* Move all documents into folder
    * README.md
    * lessons.csv
    * lorem.txt
    
    

                </textarea>

            </section>
        
            <section data-background-image="../images/paper.png" data-markdown data-separator="\n### ">

                <textarea data-template>### Add Document Selector
* Add document path to URL route
* Pass doc name to view
* Show error when file is missing



                </textarea>

            </section>
        
            <section data-background-image="../images/paper.png" data-markdown data-separator="\n### ">

                <textarea data-template>### Create Pages
* Pages should inherit theme
* Pages should use the correct partial template
* Style should come from theme



                </textarea>

            </section>
        

    


</section>
<section>
    <section class="section" data-background-image="../images/treetops.800.jpg">
        <h2>BUILD</h2>
    </section>


    
        
            <section data-background-image="../images/paper.png" data-markdown data-separator="\n### ">

                <textarea data-template>### Demo Code
* [Demo 31](https://github.com/Mark-Seaman/UNC-BACS-350/tree/master/demo/week11/Demo31)



                </textarea>

            </section>
        
            <section data-background-image="../images/paper.png" data-markdown data-separator="\n### ">

                <textarea data-template>### Project 10 - Cards & Tables & Docs
* Composite Views
* Style with Bootstrap
* View Inheritance
* Dynamic Menu
* Responsive Design
* Data Fields - strengths, weakness, image
* [Project 10 - Instructions](../project/10)

                </textarea>

            </section>
        

    


</section>
                

            </div>
        </div>

        <script src="https://shrinking-world.com/static/revealjs/dist/reveal.js"></script>
        <script src="https://shrinking-world.com/static/revealjs/plugin/notes/notes.js"></script>
        <script src="https://shrinking-world.com/static/revealjs/plugin/markdown/markdown.js"></script>
        <script src="https://shrinking-world.com/static/revealjs/plugin/highlight/highlight.js"></script>
        <script>
            // More info about initialization & config:
            // - https://revealjs.com/initialization/
            // - https://revealjs.com/config/
            Reveal.initialize({
                hash: true,

                // Learn about plugins: https://revealjs.com/plugins/
                plugins: [RevealMarkdown, RevealHighlight, RevealNotes]
            });

        </script>
    </body>

</html>
