<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Notes App</title>
</head>

<body>
    <h1>Notes App</h1>
    <p>
        This simple notes application has views that let you display and modify records in
        the database.
    </p>
    <ul>
        <li><a href="note/">List Notes</a></li>
        <li><a href="note/1">Note Detail</a></li>
        <li><a href="note/add">Add Note</a></li>
        <li><a href="note/1/">Edit Note</a></li>
        <li><a href="note/note">Note with Markdown</a></li>
    </ul>

</body>

</html>
