{% extends 'page_theme.html' %}


{% block main %}

<main class="bg-dark text-light">
    <div class="container">

        <div class="text-center">

            <a href="/" class="btn btn-primary m-3">Hero List</a>

            <div class="card m-3 mb-5">
                <div class="card-header bg-primary">
                    <h2>
                        <a class="text-light" href="{{ object.pk }}">{{ object.name }}</a>
                    </h2>
                </div>

                <div class="card-body text-dark">
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                Hero: {{ object.name }}
                            </p>
                            <p>
                                Secret ID: {{ object.identity }}
                            </p>
                            <p>
                                Image: {{ object.image }}
                            </p>
                            <p>
                                <a href="{{ object.pk }}/" class="btn btn-primary">Edit</a>
                            </p>

                        </div>
                        <div class="col-lg-6">
                            {% if missing %}
                            <p><i class="fa fa-user fa-6x"></i></p>
                            {% endif %}

                            <img width="300" src="/static/{{ object.image }}" alt="{{ object.identity }}">
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
</main>

{% endblock main %}
