{% extends 'page_theme.html' %}


{% block main %}

   <main class="bg-dark text-light">
       <div class="container text-center">
           
            {% for hero in object_list %}
                
                <div class="card m-5">
                    <div class="card-header bg-primary">
                        <h2> 
                            <a class="text-light" href="{{ hero.pk }}">{{ hero.name }}</a>
                        </h2>
                    </div>
                    <div class="card-body bg-light text-dark">
                       
                        <p>
                            Hero: {{ hero.name }}
                        </p>
                        <p>
                            Secret ID: {{ hero.identity }}
                        </p>
                        
                        {% if missing %}
                            <p class="border"><i class="fa fa-user fa-6x"></i></p>
                        {% endif %}

                        <img width="300" src="/static/{{ hero.image }}" alt="{{ hero.identity }}">
                    
                    </div>
                </div>   

            {% endfor %}
       </div>
    
     </main>

{% endblock main %}
