body {
    background-color: white;
}

h1 {
    margin: 2em;
    padding: 40px;
    text-align: center;
    font: 400% cursive;
    color: yellow;
    border: 1px solid gray;
    background-color: blue;
    border-radius: 60px;
}

a {
    color: green;
}
