/* ----------------------------------------------- */
/* HTML Elements */

body {
    padding: 0;
    margin: 0;
}

article {
    border: 1px solid grey;
    box-shadow: 2px 2px 5px grey;
    margin: 3em;
    padding: 1em;
}

footer {
    clear: both;
    text-align: center;
    margin: 2em;
    padding: 2em;
}

h1 {
    margin: 20px;
    padding: 30px;
    color: #F6B018;
    background-color: #0E3D65;
    border: 5px solid #F6B018;
    text-align: center;
    box-shadow: 2px 2px 5px gray;
}

h2 {
    color: #0E3D65;
    background-color: #F6B018;
    border: 2px solid #0E3D65;
    text-align: center;
    margin: 10px 20px;
    padding: 10px 20px;
    box-shadow: 2px 2px 5px gray;
}

h3,
h4 {
    margin: 10px 20px;
    padding: 10px 20px;
}

header {
    border: 5px solid #F6B018;
    background-color: #0E3D65;
    font-family: sans-serif;
    padding: 1.5em;
}

header a {
    color: white;
}

header a:hover {
    color: #F6B018;
}

header h1 {
    color: #F6B018;
    border: none;
    padding: 0;
    margin: 20px 0;
    box-shadow: none;
    text-align: left;
}

header h2 {
    color: white;
    background-color: #0E3D65;
    box-shadow: none;
    text-align: left;
    margin: 0;
    padding: 0;

}

header img {
    float: right;
    margin: 0;
}


hr {
    border: 4px solid #F6B018;
}

input {
    /*width: 80%;*/
}

img {
    max-width: 100px;
    margin: 20px;
    border: 1px solid white;
    box-shadow: 2px 2px 5px black;
    float: right;
}

li {
    margin: 5px 1.5em;
}

p {
    margin: 0.5em 3em;
}

pre {
    border: 1px solid #F6B018;
    border-left: 3px solid #F6B018;
    border-right: 3px solid #F6B018;
    background-color: #f0f0f0;
    margin-left: 3em;
    margin-right: 3em;
    padding: 10px 20px;
}

textarea {
    width: 90%;
    margin: auto;
}
