{% extends 'theme.html' %}


{% block main %}
   
    <h2>About Us</h2>
    <p>This is all about us!</p>

    <div class="row text-light">
       
        <div class="col-lg-6 bg-danger">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae minus vero, quaerat, error illo aliquam voluptatem est. Laudantium quasi numquam, eum, veniam explicabo deleniti fugiat quisquam assumenda doloremque a quia.
        </div>
        <div class="col-lg-4 bg-warning text-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus repellat porro at, blanditiis ducimus aut possimus expedita ipsum aspernatur eaque eos nisi quas velit deserunt eum cumque tempora mollitia ad.</div>
        <div class="col-2 bg-primary">Column 3</div>
        
    </div>
    
{% endblock main %}
